.TodoListItem {
  display: flex;
  align-items: center;
  padding: 10px;
  &:nth-child(even) {
    background: #f8f9fa;
  }
  .checkbox {
    flex: 1;
    display: flex;
    align-items: center;

    svg {
      font-size: 20px;
    }
    .text {
      flex: 1;
    }

    &.checked {
      svg {
        color: #22b8cf;
      }
      .text {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
  }

  .remove {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ff6b6b;
    cursor: pointer;
    &:hover {
      color: #ff8787;
    }

    & + & {
      border-top: 1px soliod #dee2e6;
    }
  }
}
